.outer-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-action-container{
    width: 98%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.1vw solid red;
}

.btn-cls{
    margin: 1vw;
}

.video-container{
    width: 98%;
    height: 80%;
    border: 0.1vw solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.video-display-container{
    width: 45%;
    height: 90%;
    border: 1vw solid orange;
}

.user-action-container{
    width: 45%;
    height: 90%;
    border: 1vw solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
